# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
build/
dist/
.venv/
venv/
.env

# Tooling
.pytest_cache/
.ruff_cache/
.mypy_cache/
.coverage
htmlcov/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
*.tfvars
!*.tfvars.example
.terraform.lock.hcl

# Editors / OS
.idea/
.vscode/
.DS_Store
Thumbs.db
